<h1>category report</h1>
<div id='filter'></div>
<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#graph" role="tab" data-toggle="tab">Graph</a></li>
  <li><a href="#data" role="tab" data-toggle="tab">Data</a></li>
</ul>
<div class='tab-content'>
  <div class='tab-pane active' id='graph'>
    <div class="panel panel-default">
      <div id='bar_chart' class="text-center"></div>
    </div>
  </div>
  <div class='tab-pane' id='data'>
    <div id='transaction_table'></div>
  </div>
</div>