<h1>Income vs Expenses</h1>

<div id="filter"></div>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">   
        <h4>Income</h4>
      </div>
      <div id="income_pie" class="text-center"></div>
      <table class="table">
        <tbody id='income_table'>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">   
        <h4>Expenses</h4>
      </div>
      <div id="expense_pie" class="text-center"></div>
      <table class="table">
        <tbody id='expense_table'>
        </tbody>
      </table>
    </div>
  </div>
</div>
