<h4>edit subcategory</h4>
<div class="form-horizontal">
  <div class="form-group">
    <label for="category_id" class="col-sm-2 col-md-4 control-label">Category</label>
    <div class="col-sm-10 col-md-6">
      {{selectGroupedInput categoryTypes 'category_type_id' categories subcategory.category_id "category_id"}}
      <span class="help-block hidden"></span>
    </div>
  </div>
  <div class="form-group">
    <label for="name" class="col-sm-2 col-md-4 control-label">Name</label>
    <div class="col-sm-10 col-md-6">
      {{textInput subcategory.name "name"}}
      <span class="help-block hidden"></span>
    </div>
  </div>
</div>
<div class='form-footer'>
  {{saveButton}}
  {{cancelButton}}
</div>