<h1>accounts 
	<a href="#new"><span id="new" class="glyphicon glyphicon-plus btn btn-default">New</span></a>
</h1>

<div class="panel panel-default">
  
  <div class="panel-heading">
    <h4>Account Summary</h4>
  </div>

	<table class="table">
		<thead>
	    <tr>
	     <th>Name</th>
	     <th>Bank</th>
	     <th class="money">Current Balance</th>
	     <th></th>
	    </tr>
	  </thead>

	  <tbody>
	  </tbody>
	</table>

</div>