<h1>my accounts 
	{{newButton}}
</h1>
<a href="#reports/income_expense_bar">Bar Chart</a>
<a href="#reports/eod_balance">EOD Balance Report</a>
<a href="#reports/income_vs_expense">Income vs Expense</a>
<a href="#reports/category">Category Report</a>
<div class="panel panel-default">
  
  <div class="panel-heading">
    <h4>Account Summary</h4>
  </div>

	<table class="table">
		<thead>
	    <tr>
	     <th>Name</th>
	     <th>Bank</th>
	     <th class="money">Current Balance</th>
	     <th></th>
	    </tr>
	  </thead>

	  <tbody>
	  </tbody>
	</table>

</div>