<h1>new account</h1>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">   
        <h4>Account Details</h4>
      </div>

      <div class="container">
        <div class="field">
          <label for="name"> Account Name:</label>
          <input type="text" name="name" id="name">
        </div>

        <div class="field">
          <label for="bank"> Bank:</label>
          <input type="text" name="bank" id="bank">
        </div>

        <div class="field">
          <label for="starting_balance"> Opening Balance:</label>
          <input type="text" name="starting_balance" id="starting_balance">
        </div>

        <div class="field">
          <label for="starting_date"> Opening Balance Date:</label>
          <input type="text" name="starting_date" id="starting_date">
        </div>
      </div>

      <div class="actions panel-footer">
        {{saveButton}}
        {{cancelButton}}
      </div>

    </div> <!-- panel -->
  </div> <!-- col -->

  <div class="col-md-6">
    <div id="panel2" class="panel panel-default">
    Some hints here...
    </div> <!-- panel -->
  </div> <!-- col -->

</div> <!-- row -->