<div class="form-horizontal">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="ticker" class="col-sm-2 col-md-4 control-label">Ticker</label>
        <div class="col-sm-10 col-md-6">
          <p class="form-control-static">{{ticker}}</p>
        </div>
      </div>
    </div>
  </div>  
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="name" class="col-sm-2 col-md-4 control-label">Name</label>
        <div class="col-sm-10 col-md-6">
          <p class="form-control-static">{{name}}</p>
        </div>
      </div>
    </div>
  </div>  
</div>
<div class="form-footer">
  {{editButton}}
</div>