<div class="row">
  <div class="form-group col-md-4">
    <label for="account_id" class="col-sm-4 col-md-4 control-label">Account</label>
    <div class="col-sm-8 col-md-8">
      {{selectInput accounts.models account.id "account_id"}}
      <span class="help-block hidden"></span>
    </div>
  </div>
</div>