<div class="row">
  <div class="form-group col-md-6">
    <label for="account_type_id" class="col-sm-4 col-md-4 control-label">Account Type</label>
    <div class="col-sm-8 col-md-8">
      {{selectInput accountTypes.models accountTypeId "account_type_id"}}
      <span class="help-block hidden"></span>
    </div>
  </div>
</div>