<div class="row">
  <div class="form-group col-md-4">
    <label for="category_id" class="col-sm-4 col-md-4 control-label">Category</label>
    <div class="col-sm-8 col-md-8">
      {{selectGroupedInput categoryTypes 'category_type_id' categories category_id "category_id"}}
      <span class="help-block hidden"></span>
    </div>
  </div>
</div>