.header ul.nav li.dropdown:hover ul.dropdown-menu {
  display: block; }

.header .navbar {
  border-top: solid 12px #84bb5a;
  border-bottom: solid 3px #84bb5a;
  background-color: white;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  padding-bottom: 15px; }
  .header .navbar .navbar-brand {
    font-size: 32px; }
    .header .navbar .navbar-brand strong {
      color: #84bb5a; }
  .header .navbar .nav li {
    font-size: 16px;
    padding-top: 2px; }

.footer {
  background-color: #f1f1f1;
  padding: 20px 20px 50px 50px; }
  .footer .strong {
    color: #8dbf41; }
