<td colspan="3">
  <div>
  This will delete all transactions imported in this file.
  </div>
  {{> error_alert }}
  <div class='form-footer'>
    {{cancelButton}}
    <div class='pull-right'>
      {{deleteButton}}
    </div>
  </div>
</td>