<div class="panel panel-default">
  
  <div class="panel-heading">
    <h4>import history</h4>
  </div>

  <table class="table table-responsive">
    <thead>
      <tr>
        <th class="date">Date</th>
        <th>Filename</th>
        <th>Transactions Imported</th>
      </tr>
    </thead>

    <tbody>
    </tbody>
  </table>

</div>