<h4><span class="text-info">Step 2 of 2</span> - Select Transactions 
  {{actionButton text="Import" id="upload"}}
  {{cancelButton}}
</h4>

<div class="panel panel-default">
  
  <div class="panel-heading">
    <h4>Select Transactions to Import</h4>
  </div>

  <table class="table">
    <thead>
      <tr>
       <th>Date</th>
       <th>Bank Memo</th>
       <th>Notes</th>
       <th>Category</th>
       <th>Subcategory</th>
       <th class="money">Amount</th>
       <th class="centred"></th>
      </tr>
    </thead>

    <tbody>
    </tbody>
  </table>

</div>