<h1>accounts</h1>

<div class="panel panel-default">

  <div class="panel-heading">   
    <h4>New Account</h4>
  </div>

  <div class="container">
    <div class="field">
      <label for="name"> Account Name:</label>
      <input type="text" name="name" id="name">
    </div>

    <div class="field">
      <label for="bank"> Bank:</label>
      <input type="text" name="bank" id="bank">
    </div>

    <div class="field">
      <label for="starting_balance"> Opening Balance:</label>
      <input type="text" name="starting_balance" id="starting_balance">
    </div>

    <div class="field">
      <label for="starting_date"> Opening Balance Date:</label>
      <input type="text" name="starting_date" id="starting_date">
    </div>
  </div>

  <div class="actions panel-footer">
    <button id="save" class="btn btn-default">Save</button>
    <a href="#/index" id="cancel" class="btn btn-default">Cancel</a>
  </div>

</div>
