<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Patterns {{newButton}}</h4>
  </div>
  <table class="table table-responsive patterns">
    <thead>
      <tr>
        <th>Match Text</th>
        <th>Notes</th>
        <th>Category</th>
        <th>Subcategory</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>