<h1>Income and Expenses</h1>

<div class="panel panel-default">

  <div class="panel-heading">  	
  	 <h4>Income and Expenses (previous 12 months)</h4>
  </div>
  <!-- Bar Chart -->
  <div id="income_expense_bar_chart" class="text-center"></div>
  <script>

		var data = <%= raw @report_data %>;
		bar_chart(data, "#income_expense_bar_chart");

  </script>  
</div>

