<div class="row">

  <div class="col-md-6">
	<div class="jumbotron">
  	  <h1>Reports</h1>
  	  <p>&nbsp;<p>
  	  <p>Awesome reports, just for you!</p>
	</div>
  </div>
  
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Reports</h4>
      </div>
      <div class="panel-body">
		<ul>
		  <li><%= link_to("Income vs Expenses", report_income_vs_expense_path) %></li>
		  <li><%= link_to("Income/Expense Bar Chart", report_income_expense_bar_path) %></li>
		  <li><%= link_to("Category Report", report_category_path) %></li>
		  <li><%= link_to("Sub-category Report", report_subcategory_path) %></li>
		</ul>
      </div>
    </div>
  </div>
</div>

