<div class="jumbotron">
  <h1>Reports</h1>
  <p>&nbsp;<p>
  <p>Awesome reports, just for you!</p>
</div>

<ul>
	<li><%= link_to("Income vs Expenses", report_income_vs_expense_path) %></li>
	<li><%= link_to("Category Report", report_category_path) %></li>
	<li><%= link_to("Sub-category Report", report_subcategory_path) %></li>
</ul>