@import 'colours';

#category-list {

  table {
    border-top: 2px solid $main-color;

    .subcategory td{
      border: none;
      padding-left: 20px;

      &::before {
        content: "- ";
      }
    }

    .category {
      font-size: larger;
    }
  }
}
