$main-color: #75B79E;
$main-color-half-strength: #A6C8AB;
$main-color-very-light: #EFF5F0;
$main-color-dark: #69A48E;
$menu-color: #777;
$grey-background-color: #f1f1f1;
$light-grey-background-color: #FAFAFA;
$dark-grey-background-color:  #D8D8D8;
