/* pie chart styles */
text.pie-chart-total-amount{
  font-size: 14px;
  font-weight: bold;
}

text.pie-chart-total-label{
  fill: #BBB;
  font-size: 12px;
  font-weight: bold;
}

text.chart-data-amount {
  font-size: 14px;
  font-weight: bold;
}

text.pie-chart-data-label {
  font-size: 12px;
  font-weight: bold;
  fill: #999;
}

svg {
  background-color: #ffffff;
  font: 10px sans-serif;
  text-shadow: none;
  border: none;
}

/* bar chart styles */

.x1 rect {
	fill: #98df8a;
	stroke: white;
	stroke-width: 1;
}

.x2 rect {
	fill: #ff9896;
	stroke: white;
	stroke-width: 1;
}

text.bar-chart-x-label{
	font-size: 12px;
}
path.axis,
.axis path,
.axis line {
	fill: none;
	stroke: black;
	stroke-width: 1;
	shape-rendering: crispEdges;
}
.axis text {
	font-size: 11px;
}