.form-horizontal {
	margin-top: 25px;
	padding-top: 15px;
	border-top: solid 1px $main-color;
}

.form-footer {
	margin-top: 25px;
	padding-top: 15px;
	margin-bottom: 25px;
	border-top: solid 1px $main-color;
}

.form-table {
	border: solid 2px $main-color;
}

tr.edit {
  border: solid 2px $dark-color;

  .form-horizontal {
    margin: 0;
    border: none;
  }

  .form-footer {
    padding: 10px;
    margin: 0;
  }
}
