.table {

	td.links {
		text-align: right;
	}
	td {
		a:visited, a:link {
			color: black;
		}
		
		a:hover {
			color: white;
		}
	}
	td.money, th.money {
		text-align: right;
		width: 110px;
	}

	td.centred, th.centred {
		text-align: center;
	}

	tr.totals {
		border-top: 2px solid black; 
		border-bottom: 5px double black
	}

	th.edit, td.edit {
		width: 20px;
	}

	th.reconciled {
		width: 20px;
	}
	th.date, td.date {
		width: 110px;
	}

	tr.read-only {
		background-color: #719934;
	}

	tr.clickable {
		cursor: pointer;
	  &:hover {
	    background-color: $light-color;
	  }
	}

	tr.editing {
		background-color: $dark-color;
		color: white;
	}
}