<footer class="footer">
  <div class="row">

    <div class="col-md-4">
      <h3>quick links</h3>
      <a href='#accounts'>accounts</a><br>
      <a href='#accounts/current/transactions'>transactions</a><br>
      <a href='react#/categories'>categories</a><br>
      <a href='#patterns'>patterns</a><br>
    </div>

    <div class="col-md-4">
      <h3>cool stuff</h3>
      <a href='#accounts/first/import'>import OFX file</a><br>
      <a href='#reports'>reports</a><br>
    </div>

    <div class="col-md-4">
      <h3>find me</h3>
      <a href="http://www.github.com/melm73" target="_blank">melm73 @ GitHub </a><br>
    </div>

  </div>    
</footer>