<header>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#accounts"><strong>my</strong> money</a>
      </div>
      <ul class="nav navbar-nav  pull-right">
        <li><a href='#accounts'>accounts</a></li>
        <li><a href="#accounts/current/transactions">transactions</a></li>
        <li><a href="react#/categories">categories</a></li>
        <li><a href="#patterns">patterns</a></li>
        <li class="dropdown">
          <a href="#reports" class='dropdown-toggle'>reports<span class='caret'></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#reports/income_expense_bar">Income/Expense Bar Chart</a></li>
            <li><a href="#reports/income_vs_expense">Income vs Expenses</a></li>
            <li><a href="#reports/category/">Category Report</a></li>
            <li><a href="#reports/subcategory">Subcategory Report</a></li>
            <li><a href="react#/reports/accountBalance">EOD Balance Chart</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>