$panel-border-radius: 0;
$panel-default-heading-bg: #8dbf41;
$panel-default-text: white;

@import "bootstrap";

body {
	padding-top: 90px;
}

.container {
	padding-top: 10px;
}

.panel-form {
	background-color: #DCDDED;
}

div.panel-heading {
	height: 63px;
}

/* navbar properties */

.navbar {
	border-top: solid 12px #8dbf41;
	border-bottom: solid 3px #8dbf41;
	background-color: white;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	padding-bottom: 15px;

 	.navbar-brand {
		font-size:32px;

		strong {
			color: #8dbf41;
		}
	}

	.nav li {
		font-size: 16px;
		padding-top: 2px;
	}
}

/* footer properties */
.footer {
	background-color: #f1f1f1;
	padding: 20px;
	padding-left: 50px;

	.strong { color: #8dbf41 }

}


/* report styles */

td.links {
	text-align: right;
}
td {
	a:visited, a:link {
		color: black;
	}
	
	a:hover {
		color: white;
	}
}

/* front page */
div.box{
	color: white;
	height: 150px;
	border: none;
	margin-bottom: 15px;
	margin-top: 15px;
	padding: 11px;

	&.fill_darker { 
		background: #719934 url(image_path("fill_darker_bg.png"));
		border: 4px solid #719934;
	}
	&.fill_lighter { 
		background: #AFD27A;
		border: 4px solid #AFD27A;
	}
	&.fill_normal { 
		background-color: #8dbf41;
		border: 4px solid #8dbf41;
	}

	&:hover {
/*		border: 4px solid #668A2F;*/
		opacity: 0.8;
	}

}


a:link, a:visited, a:hover, a:active { text-decoration: none; }

td.money, th.money {
	text-align: right;
}

tr.totals {
	border-top: 2px solid black; 
	border-bottom: 5px double black
}


/* pie chart styles */
text.pie-chart-total-amount{
  font-size: 14px;
  font-weight: bold;
}

text.pie-chart-total-label{
  fill: #BBB;
  font-size: 12px;
  font-weight: bold;
}

text.pie-chart-data-amount {
  font-size: 14px;
  font-weight: bold;
}

text.pie-chart-data-label {
  font-size: 12px;
  font-weight: bold;
  fill: #999;
}

svg {
  background-color: #ffffff;
  font: 10px sans-serif;
  text-shadow: none;
  border: none;
}

/* bar chart styles */

.left rect {
	fill: #2ca02c;
	stroke: white;
	stroke-width: 1;
}

.right rect {
	fill: #d62728;
	stroke: white;
	stroke-width: 1;
}

text.bar-chart-x-label{
	font-size: 12px;
}
path.axis,
.axis path,
.axis line {
	fill: none;
	stroke: black;
	stroke-width: 1;
	shape-rendering: crispEdges;
}
.axis text {
	font-size: 11px;
}