<h1>my transactions
  {{newButton}}
</h1>

<div class="panel panel-default">
  
  <div class="panel-heading">
    <h4>Transactions</h4>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Description</th>
        <th></th>
        <th class="money">Money In</th>
        <th class="money">Money Out</th>
        <th class="money">Balance</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
    </tbody>
  </table>

</div>