@import 'colours';

#category-list {

  table {
    border-top: 2px solid $main-color;

    .subcategory td{
      border: none;
      padding-left: 25px;

      &::before {
        content: "- ";
      }
    }

    .btn:focus,.btn:active {
      outline: none !important;
    }

    button {
      color: black;
    }

    .category button {
      font-size: larger;
    }
  }
}
