@import 'colours';

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.button-group {
  margin-top: 20px;
  margin-bottom: 10px;
}

.page-title {
  background-color: $grey-background-color;
  min-height: 75px;
  vertical-align: middle;

  .inline-heading {
    display: inline-block;
  }

  .status {
    padding-left: 10px;
    font-size: smaller;

    .error {
      color: darkred;

      .fa {
        padding-left: 5px;
      }
    }
  }
}

h3 {
  color: $main-color;
}

.currency {
  text-align: right;
}

.dollars {
  font-size: larger;
}

ul.slats {
  padding-left: 0px;
  li.slat-item {
    list-style-type: none;
    min-height: 60px;

    .slat-icon {
      line-height: 60px;
      text-align: right;
    }

    .slat-detail {
      padding-bottom: 10px;
      border-bottom: 1px solid silver;

      a {
        color: $main-color;
        &:hover {
          cursor: pointer;
        }
      }
    }

    .balance {
      line-height: 56px;
      vertical-align: middle;
      font-size: 18px;
      color: $main-color;
    }

    padding-bottom: 10px;
  }
}

.modal-dialog.modal-sm {
  width: 400px;
}
