@import 'colours';

#date-picker {
  min-width: 220px;

  .popover-content {
    padding: 0;
  }

  button:focus {
    outline:0;
  }

  .popover-title {
    button {
      padding: 0;
      color: black;
      font-weight: bolder;

      &:hover {
        color: $main-color;
      }

      &:disabled {
        color: black;
        cursor: default;
      }
    }

    .title {
      font-weight: bold;
      display: inline-block;
      width: 159px;
      text-align: center;
    }

    .previous {
      width: 15px;
      text-align: left;
    }

    .next {
      width: 15px;
      text-align: right;
    }
  }

  .day-table, .month-table, .year-table {
    td {
      text-align: center;

      button {
        color: $main-color;

        &.text-muted {
          color: $main-color-half-strength;
        }
      }

      &:hover {
        background: $main-color-very-light;
      }
    }
  }

  .day-table {
    thead tr {
      border-bottom: 1px solid silver;
    }

    th {
      padding: 6px;
    }

    button {
      padding: 6px;
    }
  }

  .month-table, .year-table {
    td {
      width: 54px;

      button {
        padding: 12px 6px;
      }
    }
  }
}