
.header {
	ul.nav li.dropdown:hover ul.dropdown-menu{ display: block; }
	
	.navbar {
		border-top: solid 12px $main-color;
		border-bottom: solid 3px $main-color;
		background-color: white;
		font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
		padding-bottom: 15px;

	 	.navbar-brand {
			font-size:32px;

			strong {
				color: $main-color;
			}
		}

		.nav li {
			font-size: 16px;
			padding-top: 2px;
		}
	}
}

.footer {
	background-color: #f1f1f1;
	padding: 20px 20px 50px 50px;

	.strong { color: #8dbf41 }

}
