@import 'colours';

#d3-chart svg {
  margin: 10px;
  position: relative;

  .y-axis text {
    font-size: 10px;
  }

  .x-axis text {
    font-size: 10px;
  }
}

.chart-legend {
  position: absolute;

  .legend-item {
    padding: 10px;
    margin-bottom: 20px;
    //color: white;
    width: 80px;
  }

}

.chart-tooltip {
  background: rgba(120, 120, 120, .5);
  position: absolute;
  padding: 10px;
  top: 20px;
  z-index: 500;

  .tooltip-title {
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 5px;
  }

  .tooltip-item {
    opacity: 1;
    background-color: white;
    padding: 5px;
    margin-bottom: 1px;
    display: table;
  }

  .tooltip-icon {
    font-size: 10px;
    padding-right: 10px;
    display: table-cell;
    vertical-align: middle;
  }

  .tooltip-label {
    width: 80px;
    display: table-cell;
    vertical-align: middle;
  }

  .tooltip-value {
    width: 80px;
    text-align: right;
    display: table-cell;
    vertical-align: middle;
  }
}