@import 'colours';

.chart-container {
  border-top: 2px solid $main-color;
}

#d3-chart svg {
  margin: 10px;
  position: relative;

  .y-axis text {
    font-size: 10px;
  }

  .x-axis text {
    font-size: 10px;
  }
}

.chart-tooltip {
  background: rgba(120, 120, 120, .5);
  position: absolute;
  padding: 10px;
  top: 20px;
  z-index: 500;

  .tooltip-title {
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 5px;
  }

  .tooltip-item {
    opacity: 1;
    background-color: white;
    padding: 5px;
    margin-bottom: 1px;
  }

  .tooltip-icon {
    display: inline-block;
    font-size: 18px;
    padding-right: 10px;
  }

  .tooltip-label {
    display: inline-block;
    width: 80px;
  }

  .tooltip-value {
    display: inline-block;
    width: 80px;
    text-align: right;
  }
}