<header>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	  <div class="container">
	   	<div class="navbar-header">
	   		<%= link_to raw("<strong>my</strong> money"), root_path, {class: "navbar-brand"} %>
			</div>
			<ul class="nav navbar-nav  pull-right">
					<li><%= link_to "accounts", my_money_path %></li>
					<li><a href="my_money#accounts/current/transactions">transactions</a></li>
					<li><%= link_to "categories", categories_path %></li>
					<li><%= link_to "patterns", patterns_path %></li>
					<li class="dropdown">
						<a href="#reports" class='dropdown-toggle'>reports<span class='caret'></span></a>
						<ul class="dropdown-menu" role="menu">
		          <li><a href="#reports/income_expense_bar">Income/Expense Bar Chart</a></li>
		          <li><a href="#reports/income_vs_expense">Income vs Expenses</a></li>
		          <li><a href="#reports/category/">Category Report</a></li>
		          <li><a href="#reports/subcategory">Subcategory Report</a></li>
		          <li><a href="#reports/eod_balance">Account Balance Line Chart</a></li>
						</ul>
					</li>
			</ul>
	  </div>
	</nav>
</header>
