{
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jasmine": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true,
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "extends": "airbnb",
  "rules": {
    "react/no-unused-prop-types": ["error", { "skipShapeProps": true }],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "max-len": ["error", 120],
    "new-cap": ["error", { "capIsNewExceptions": ["Scrollable", "Map", "List", "Router"] }],
    "no-confusing-arrow": ["off"],
    "no-use-before-define": ["error", "nofunc"],
    "import/no-unresolved": ["error", { "ignore": ["test-helpers"] } ],
    "react/sort-comp": ["off"],
    "no-unused-vars": ["error", { "varsIgnorePattern": "_+" }],
    "jsx-a11y/no-static-element-interactions": ["off"]
  },
  "plugins": [
    "react"
  ]
}